body {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    margin: 0 auto;

}

/* shared style */
.primary-title {
    font-size: 2.8rem;
    font-weight: 700;
}
.primary-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.another-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;

}

.primary-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header style */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-item {
    display: flex;
    gap: .5rem;
    align-items: center;
}



.nav-item img {
    width: 100%;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li {
    list-style: none;
    padding: 1.1rem;

}

.menu li a {
    color: #3C354F;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

}

.menu-btn {
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: .8rem .9rem;

}

.fa-youtube,
.fa-tiktok {
    padding-left: .8rem;
}

.fa-youtube {
    color: #F61C0D;

}

.gamer {
    color: #FF42A5;
}

/* banner style here */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/Group\ 14.png');
    background-position: center;
    background-size: cover;

}

.banner-content {
    text-align: justify;

    padding-left: 8.5rem;
    width: 50%;
    padding-bottom: .5rem;
}

.banner-header {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}

.banner-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
}

.fa-circle-play,
.fa-circle-arrow-down,
.fa-user {
    padding: 0 .6rem 0 0;
}



.fa-circle-play,
.fa-circle-arrow-down {
    color: #FF42A5;
}

.fa-user {
    color: #0B0223;
}

.sign {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 1.1rem 1.5rem;
}

.go {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 3rem;
    background: #4EC5F7;
    padding: 1.1rem 1.5rem;
    margin-left: .8rem;

}


.banner-image-container img {
    width: 75%;
    margin: 0 auto;

}



/* online games style */
.games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.box img {
    width: 100%;
    display: block;
    
}

.another-description,
.games-title {
    text-align: center;
}

.games-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2.5rem;
}
    
.box{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 70%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
}
.overlay:hover{
    opacity: 2;
    border: .2rem solid #F948B2;
    border-radius: .5rem;
    
}


/* play games style */
.play-games-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-left: 8rem;
    padding-top: 8rem;
}

.play-games-image {
    position: relative;

}

.games-image {
    position: absolute;
    left: 76%;
    bottom: -15%;

}

.play-games-image img {
    width: 100%;
}

.games-image {
    width: 40%;
}

.play-games-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;

}

.games-description {
    padding-left: 4rem;

}

.play-games-content {
    width: 100%;
    margin: 0 auto;
    padding-right: 4rem;
}

/* logo style here */
.logo-container {
    padding-top: 10rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    row-gap: 1.5rem;
    align-items: center;
    column-gap: .5rem;
    padding-bottom: 8rem;
    

}

.logo-description {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo-description:hover{
    border: .2rem solid #F948B2;
    border-radius: 2.5rem;
    background: white;
    padding: .2rem .4rem;
}
.logo-title{
    color: #0B0223;
    font-weight: 600;
    font-size: 1rem;
}
/* footer style */
.footer-container{
    background: #0B0223;
    color: white;
    margin: 0 auto;
    text-align: center;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.footer-container ul ,ol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container li{
    list-style: none;
    padding: 1.2rem;
}
.footer-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}
.footer-container ol a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
.footer-icon{
    padding: 1.2rem;
    font-size: 1.5rem;
}
small{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

/* media query */
/* for mobile */
@media screen and (max-width:576px) {

    .nav-container,
    .menu ul {
        flex-direction: column;
    }

    /* banner style */
    .banner-container {
        flex-direction: column-reverse;



    }

    .banner-content {
        padding-left: 40px;
        width: 80%;
        text-align: justify;
        margin: 0 auto;
    }

    .banner-image-container img {
        width: 100%;
    }

    .games-container {
        grid-template-columns: 1fr;

    }

    .play-games-container {
        flex-direction: column-reverse;
        padding: .5rem;
        width: 80%;
    }

    .play-games-content,
    .games-description {
        padding: .5rem;
        text-align: center;
    }

    .play-games-image {
        width: 70%;
    }
    .logo-container{
        width: 100%;
        align-items: center;
    } 
    .logo-box{
        width:110px
    }
    .logo{
        width: 40px;
    }
    .footer-container{
        width: 100%;
        margin: 0 auto;
    }
    .footer-container ul ,ol{
        flex-wrap: wrap;
        align-items: center;
        
    }
    .footer-container li{
        padding: .5rem;
    }



}

/* for tablet */
@media screen and (min-width:577px) and (max-width:992px) {

    .nav-container,
    .menu ul {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;


    }

    .banner-image-container img {
        width: 100%;
    }

    .games-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .play-games-container {
        flex-direction: column-reverse;
        width: 50%;
        text-align: center;
        padding: .5rem;
    }

    .play-games-content,
    .games-description {
        padding: .5rem;
        text-align: center;
    }
    .logo-container{
        width: 100%;
        align-items: center;
    } 
    .footer-container{
        width: 100%;
        margin: 0 auto;
    }
    .footer-container ul ,ol{
        flex-wrap: wrap;
        align-items: center;
        
    }
    .footer-container li{
        padding: 1.5rem;
    }
}